.btn {
    height:150px;

    text-align: center;
}
.col-12{
    height: 90px;
}


h1{
    height:130px;
    text-align: center;
    
    
}
body{
    background: aqua;
    
}
p{


    color:ivory;
    font-size: 40px;

}

